@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Zac's Misison 3 Assignment Home";
}
<h1>My preferred name is Zac</h1>

<img src="img/hiking.jpeg" height="400" />

<p>
    I really hope to get a lot out of this class. I want to learn how to build a high-scale program that can translate into me providing solutions to in a professional setting.
    Along with these technical skills, I really hope to learn and grow personally and gain other insights that may be relevant to my life.
</p>

<!--Top three jobs-->
<p>        My Top Three Jobs</p>
<ul>
    <li>1. Database Designer</li>
    <li>2. Web Developer</li>
    <li>3. Solutions Architect</li>

</ul>